body{
    font-family: 'Libre Franklin', sans-serif;
    
}
.heading-tittle{
    margin-top: 50px;
  text-align: center;
}
.heading-caption{
  text-align: center;
}
h2 {
 
    display: inline;
    
  
}
.main-caption{
  color: hsl(223, 100%, 88%);
  
}
.main-captions{
  font-weight: bolder;
}
.email-field{
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid;
 border-color: hsl(223, 100%, 88%);
  width: 350px;
  padding: 15px;
  height: 30px;
 
  
}
input:focus{
  outline: none;
}
.button-field{
  border-radius: 20px;
  width: 250px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 30px;
  text-align: center;
 
  

}
.facebook-icon, .twitter-icon, .instagram-icon{
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px blue;
  padding: 0.5em 0.6em;
}
.social-icons a{
  text-decoration: none;
  
}
.facebook-icon:hover, .twitter-icon:hover, .instagram-icon:hover{
  background-color: hsl(195, 100%, 40%)	;
  color: white;
}






@media (max-width: 575.98px) { 
  .button-field{
    border-radius: 20px;
    width: 350px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 30px;
    text-align: center;
   
    
  
  }
  .dashboard-image{
    width:22em;
    margin-left: -20px;

}

}
@media (min-width: 1200px) { 
  .button-field{
    border-radius: 20px;
    width: 150px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 30px;
    text-align: center;
   
    
  
  }
  .dashboard-image{
    width:40em;
    margin-left: -20px;
  }

}